Cargo.lock
node_modules
build
*.log
package-lock.json
/target/
*.a
*.dylib
*.so
*.o
bindings/c/*.h
/Cargo.toml
src/*
tree-sitter-perl.wasm
binding.gyp
log.html
/bindings/c/
/bindings/go/
/bindings/node/index.d.ts
/bindings/python/
/bindings/swift/
